{% extends 'base.html' %}
{% block content %}
  <!-- start of article section -->
  <article>
    <p><h1 id="white"></h1></p>
    <div class="container">
      <h1 id="title"></h1>
      <h3 id="date"></h3>
      <p id="content"></p>
    </div>
      <span id="delete"> <button onclick="deleteEntry()">delete</button></span>
  </article>
  <script type="text/javascript" src="{{ url_for('static', filename='js/single.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/delete.js') }}"></script>
  <!-- end of article section -->
{% endblock %}
