{% extends 'base.html' %}
{% block content %}
  <!-- start of article section -->
  <article>
    <div class="text_centered">
      <h1 id="white">Attending a seminar</h1></div>
    <div class="container">
      <p id="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aut iure tenetur. Odit exercitationem ipsa facere reiciendis repellendus adipisci nesciunt, ea nihil necessitatibus non voluptate voluptatem et dolorum consectetur nostrum Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Magni aut iure tenetur. Odit exercitationem ipsa facere reiciendis repellendus adipisci nesciunt, ea nihil necessitatibus non voluptate voluptatem et dolorum consectetur nostrum Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Magni aut iure tenetur. Odit exercitationem ipsa facere reiciendis repellendus adipisci nesciunt, ea nihil necessitatibus non voluptate voluptatem et dolorum consectetur nostrum Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Magni aut iure tenetur. Odit exercitationem ipsa facere reiciendis repellendus adipisci nesciunt, ea nihil necessitatibus non voluptate voluptatem et dolorum consectetur nostrum?</p>
    </div>
    <div class="spacing text_centered">
      <span id="delete"><button>Update</button></span>
      <span id="update"><button>Delete</button></span>

    </div>
  </article>

  <!-- end of article section -->
{% endblock %}
