{% extends "base.html" %}

{% block content %}

 <!-- start of entries section -->
  <section>
    <div class="text_centered">
      <h1>Welcome to Your Dashboard</h1>
      <p class="text_centered" id="msg"></p>
      <p><span id="total"></span></p>
    </div>
    <!-- <div  class=" text_centered "> -->
      <!-- <fieldset class=" text_centered "> -->
        <div class="dashboard">
            <table id="entries-list">
                <tr>
                    <th>Date</th>
                    <th>Entries</th>
                    <th colspan="2">Action</th>
                  </tr>
            </table>
        </div>
      <!-- </fieldset> -->
    <!-- </div> -->
  </section>
  <script type="text/javascript" src="{{ url_for('static', filename='js/fetch.js') }}"></script>
  {% endblock %}
