<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Diary - Welcome</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <div class="landing text_centered">
      <h1>Write in Private</h1>
      <p><h1 id="white"> Welcome to your online diary</h1></p>
      <p><h2 id="white">No pen or notebook anymore</h2> </p>
      <p><h3 id="white">You only need a free account</h3> </p>
      <div>
        <input type="button" class="MyButton" value="Login" onclick="window.location.href='{{url_for('signin')}}'" />
        <input type="button"class="MyButton" value="Join Now" onclick="window.location.href='{{url_for('signup')}}'" />
      </div>


    </div>
    <!-- start of footer section -->
    <footer id="footer">
      <p>Online Diary Copyright &copy 2018</p>
    </footer>
    <!-- end of footer section -->
  </body>
</html>
